# Build directory
build/

# Executables and libraries
bin/
lib/
*.exe
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dll
*.dylib

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Java artifacts
*.class
*.jar

# Temporary files
*~
*.swp
*.bak
*.log
